 body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  
.litleInput{
  height:25px;
  width: 40px;
  margin: 0px 5px;
}
.money{
  width: 100px;
}

  .card {
    height: 100%;
  }
  .dis-bl{
      display: inline-block;
  }
.pad0{
  padding: 0px;
}
  .bankSide{
    position: relative;
    top:80px;
  }
  .jtron{
    border: solid 1px gray;
    padding:1rem;
  }

  .wariant{
    position: fixed;
    top:200px;
    z-index: 200;
    width:100px;
    padding:15px;
    border: 2px solid black;
  }

  .jus-con{
    justify-content: center;
   
  }
  .choose{
    margin: 0px 10px;
  }
  .chooseL{
    margin: 0px 11px;
  }
  
 /* Option A */
.optionA{
  background-color: #FAFAFA !important;
}
.optionA nav{
  background-color: #003896!important;
}
.optionA nav a{
  color: #D6D6D6!important;
}
.optionA .bg-secondary{
  background-color: #003896!important;
}
.optionA .btn-primary{
  background-color: #003896!important;
  border-color:#003896;
}
.optionA .jtron{
  background-color: white!important;
}
.optionA h1{
  color:#003896;
}
.optionA h2{
  color:#003896;
}

/* Option B */
.optionB{
  background-color: #F5F5F5 !important;
  color: black!important
}
.optionB nav{
  background-color: #6F3A2A!important;
}
.optionB .bg-secondary{
  background-color: #6F3A2A!important;
}
.optionB h2{
  color:black;
}
.optionB h1{
  color: gray;
}
.optionB input{
  background-color:#F5F5F5!important;
}
.optionB .card-footer{
background-color:yellow!important;
}

/* Option C */
.optionC{
  background-color: #FFF295 !important;
  color: black!important
}
.optionC nav{
  background-color: #FF3030!important;
}
.optionC .bg-secondary{
  background-color: #FF3030!important;
}
.optionC .bg-secondary p{
  color: black!important;
}
.optionC .card-footer{
  background-color:tomato!important;
  }
.optionC input{
  background-color:#F5F5F5!important;
}