 body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  
.litleInput{
  height:25px;
  width: 40px;
  margin: 0px 5px;
}
.money{
  width: 100px;
}

  .card {
    height: 100%;
  }
  .dis-bl{
      display: inline-block;
  }
.pad0{
  padding: 0px;
}
  .bankSide{
    position: relative;
    top:80px;
  }
  .jtron{
    border: solid 1px gray;
    padding:1rem;
  }

  .wariant{
    position: fixed;
    top:200px;
    z-index: 200;
    width:100px;
    padding:15px;
    border: 2px solid black;
  }

  .jus-con{
    justify-content: center;
   
  }
  .choose{
    margin: 0px 10px;
  }
  .chooseL{
    margin: 0px 11px;
  }
  
  /* Option B */

  .optionB nav{
    background-color: white!important;
  }
  .optionB nav a{
    color: red!important;
  }
  .optionB .jtron{
    color: red!important;
    background-color: gray;
  }
  .optionB{
    background-color: tomato;
  }
  .optionB .card-footer{
    background-color: royalblue;
  }
  .optionB .card-body{
    background-color: hotpink;
  }
  .optionB input{
    background-color: khaki;
  }
  .optionB h4{
    color: peru;
  }