<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Bank Webside</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ACCOUNTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LOANS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CARD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SAVINGS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">INVESTMENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">INSURANCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SERVICES</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container bankSide">
  <!-- Header -->
  <div class="col-lg-12 col-md-12 mb-4 pad0">
    <div class="col-lg-9 col-md-8 dis-bl pad0 ">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>

    </div>
    <div class="col-lg-2 col-md-3 dis-bl pad0" style="float:right">
      <button type="button" class="btn btn-success">Sign in </button>
      <button type="button" class="btn btn-warning">Register</button>
    </div>
  </div>

  <div class="col-lg-1 dis-bl"></div>
  
  <header class="jtron col-lg-5 col-md-6 mb-4 dis-bl">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt.</p>
    <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
  </header>

  <header class="jtron col-lg-5 col-md-5 mb-4 dis-bl">
    <p class="lead">
      Month:<input type="text" class="form-control litleInput dis-bl" placeholder="M"><br>
      Loan amount:<input type="text" class="form-control litleInput dis-bl money" placeholder="$"><br>
       non incidunt odit vero aliquid similique quaerat.</p>
    <a href="#" class="btn btn-danger btn-lg">Calculate</a>
  </header>

  <div class="col-lg-1 col-md-6 dis-bl"></div>

  <div class=" col-lg-12 mb-4 card text-white bg-secondary text-center">
      <div class="card-body">
        <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>
      </div>
    </div>

  <!-- Page Features -->
  <div class="row text-center">
    
      <div class="col-lg-1 col-md-6 mb-4 dis-bl"></div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="app/images/bank1.jpg">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="app/images/bank2.png">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa
            natus architecto.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="app/images/bank3.jpg">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-md-6 mb-4 dis-bl"></div>

  </div>
  
  <!-- /.row -->

</div>
<!-- /.container -->