body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  
  .bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  

 .banner{
    background-image: url('app/images/books.jpg');
    height: 250px;
 } 
  .nav-link{
    margin: 0px 20px ;
  }
.students{
  width: 50%;
  height: 50%;
  justify-content: center;
}
#navbarResponsive{
    justify-content: center;
}

.d-in-block{
    display: inline-block;
  }

.cat-list{
    height: 310px;
    
}
.circles{
    justify-content: center;
    margin-top:30px;
   
}
.info{
   position: relative;
   top:260px;
}

.cat-list a{
    color:black;
    margin-left: 20px;
}

h5 a{
    color:red;
}

footer a{
    color:yellow;
}

.wariant{
	position: fixed;
	top:200px;
	z-index: 200;
	width:100px;
	padding:15px;
	border: 2px solid black;
	color:white;
}

.jus-con{
	justify-content: center;
 
}
.choose{
	margin: 0px 10px;
}
.chooseL{
	margin: 0px 11px;
}

  /* Option B */

  .optionB nav{
    background-color: white!important;
  }
  .optionB nav a{
    color: red!important;
  }
  .optionB .jtron{
    color: red!important;
    background-color: gray;
  }
  .optionB{
    background-color: tomato;
  }
  .optionB .card-footer{
    background-color: royalblue;
  }
  .optionB .card-body{
    background-color: hotpink;
  }
  .optionB input{
    background-color: khaki;
  }
  .optionB h4{
    color: peru;
  }