<header>
  <div class="col-md-2 d-in-block"></div>
  <div class="col-md-8 d-in-block">
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="col-md-3 d-in-block"></div>
        <div class="col-md-6 d-in-block">
          <img src="app/images/logo.png" style="margin: auto;">
        </div>
        <div class="col-md-3 d-in-block"></div>
      </div>
      <div class="menu_block col-md-12">
        <ul class="sf-menu ">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/health-food-store">Products</a>
          </li>
          <li>
            <a href="/health-food-store">Blog</a>
          </li>
          <li>
            <a href="/health-food-store">Recipes</a>
          </li>
          <li>
            <a href="/health-food-store">Contacts</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="col-md-2 d-in-block"></div>
</header>

<div class="container">
  <div class="col-md-12">

    <div class="col-md-8 d-in-block">
      <div class="col-md-10 d-in-block welcome">
        <h3>Welcome to Organic Shop</h3>
        <img src="app/images/page1_img1.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper">
          <p>Here you can buy healthy food at the best online store.</p>
          <p>Please choose items for the basket and enjoy healthy products.</p>
        </div>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis erat mattis neque facilisis, sit amet ultriciesyt erat
        rutrum. Cras facilisis, nulla vel viverra auctor, leo ame magna sodales felis, quis malesuada.
      </div>
      <div class="col-md-1 d-in-block"></div>
      <div class="col-md-5 d-in-block alpha">
        <div class="banner maxheight">
          <h3>
            <a href="#">100% Eco &amp;
              <br> Organic
            </a>
          </h3>
        </div>
      </div>
      <div class="col-md-5 d-in-block omega">
        <div class="banner b1 maxheight">
          <h3>
            <a href="#">Control of
              <br> the Quality </a>
          </h3>
        </div>
      </div>


    </div>
    <div class="col-md-3 d-in-block">
      <div class="mission">
        <h3>Our Mission</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis erat mattis neque facilisis, sit amet ultriciesyt
          erat rutrum. Cras facilisis, nulla vel viverra auctor, leo ame magna sodales felis, quis malesuada.</p>
        <ul class="list">
          <li>
            <a href="#">Duis massa elit</a>
          </li>
          <li>
            <a href="#">Nullam eget dignissim nisi</a>
          </li>
          <li>
            <a href="#">Ut nisi nibh</a>
          </li>
          <li>
            <a href="#">Pellentesque a odiohasellus</a>
          </li>
          <li>
            <a href="#">Justo pretium</a>
          </li>
          <li>
            <a href="#">In laoreet lacus eros</a>
          </li>
          <li>
            <a href="#">Duis massa elit</a>
          </li>
          <li>
            <a href="#">Nullam eget dignissim nisi</a>
          </li>
          <li>
            <a href="#">Ut nisi nibh</a>
          </li>
          <li>
            <a href="#">Pellentesque a odiohasellus</a>
          </li>
          <li>
            <a href="#">Justo pretium</a>
          </li>
          <li>
            <a href="#">In laoreet lacus eros</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>