.health-food-store {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
	.d-in-block{
    display: inline-block;
  }
.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
  }
.grid_4 .grid_8 .grid_12 {
    margin-left: 10px;
    margin-right: 10px;
  }
.container_12 .grid_12 {
    width: 940px;
  }
.container_12 .grid_8 {
    width: 620px;
  }
.container_12 .grid_4 {
    width: 300px;
}
  h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'Glegoo', serif;
	color: #aba8a8;
}
h3 {
	font-size: 30px;
	line-height: 30px;
	padding-top: 40px;
	margin-bottom: 44px;
}
.page1 h3 {
	padding-top: 0;
	margin-bottom: 15px;
}
.img_inner {
	width: 50%;
	 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
	margin-bottom: 19px;
 position: relative;
}
.fleft {
	float: left;
	margin-right: 21px;
	margin-top: 3px;	
	margin-bottom: 0px;
}
.extra_wrapper {
	overflow: hidden;
}
.page1 .fleft {
	border: 1px solid #d4d2d2;
	margin-top: 4px;
	margin-right: 22px;
}
.alpha {
    margin-left: 0;
  }
.omega {
    margin-right: 0;
}
.banner {
	margin-top: 40px;
	border: 1px solid #d2d0d0;
	padding-right: 20px;
	margin-bottom: 20px;
}
.banner h3 {
	line-height: 36px;
}
.products{
	margin-top:30px;
}
.products img{
	width: 50%;
}
.products div{
	width: 150px;
}
.mission{
	position: relative;
	top:-220px;
}

.start{
	margin-top:20px;
}
/* MENU */
.menu_block  {
	position: relative;
	padding-top: 26px;
	padding-left: 57px;
}

.sf-menu>li>a{
	font-size: 20px;
	font-family: 'Glegoo', serif;
	color: #d3cfcf;
	position: relative;
	line-height: 20px;
	z-index: 999;
	position: relative;
}
.sf-menu>li+li:after {
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	height: 44px;
	background-color: #efeef1;
	left: -39px;
	top: -16px;
}
.sf-menu li {
	float:left;
	position:relative; 
	list-style-type: none;
}
.sf-menu>li+li {
	margin-left: 70px;
}
/* moje */
.welcome{
text-align: justify;
}

.wariant{
	position: fixed;
	top:200px;
	z-index: 200;

	padding:15px;
	border: 2px solid black;
	color:white;
}

.jus-con{
	justify-content: center;
 
}
.choose{
	margin: 0px 10px;
}
.chooseL{
	margin: 0px 11px;
}

   /* Option A */
.optionA{
  background-color: #FDFFFE !important;
}
.optionA .sf-menu li a{
	color: #00A035!important;
}
.optionA h3{
  color: #00A035!important;
}
.optionA h3 a{
  color: #00A035!important;
}
.optionA .list a{
  color: #00A035!important;
}
.optionA .products span{
	color: #00A035!important;
	font-weight: bold;
}
/* Option B */
.optionB{
	background-color: #F4FF98 !important;
	color:#B5B5B5!important;
}
.optionB .sf-menu li a{
	color: #00A035!important;
}
.optionB h3{
  color: #00A035!important;
}
.optionB h3 a{
  color: #00A035!important;
}
.optionB .list a{
  color: #00A035!important;
}
.optionB .products span{
	color: #00A035!important;
	font-weight: bold;
}
.optionB .banner{
	background-color: yellow;
}
/* Option C */
.optionC{
  background-color: #757474 !important;
}
.optionC .sf-menu li a{
	color: #62FF38!important;
}
.optionC h3{
  color: #62FF38!important;
}
.optionC h3 a{
  color: yellow!important;
}
.optionC .list a{
  color: yellow!important;
}
.optionC .products span{
	color: red!important;
	font-weight: bold;
}