body {
    padding-top: 54px;
  }

  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }

  .bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  
  .herb{
    width: 10%;
    height: 10%;
    padding: 10px 0px;
    margin-left: 50px;
  }
.nav-link{
  margin: 0px 20px ;
}
.navbar-collapse{
  margin-left: 30px;
}

.students{
  width: 100%;
  height: 100%;
}

.wariant{
  position: fixed;
  top:200px;
  z-index: 200;
  width:100px;
  padding:15px;
  border: 2px solid black;
}

.jus-con{
  justify-content: center;
 
}
.choose{
  margin: 0px 10px;
}
.chooseL{
  margin: 0px 11px;
}

/* Option A */
.optionA{
  background-color: #F3F3F3 !important;
}
.optionA nav{
  background-color: #003896!important;
}
.optionA nav a{
  color: #D6D6D6!important;
}
.optionA .btn {
  background-color:#003896;
  border-color:#003896;
  color:white;
}
.optionA h1{
  color:#003896;
}
.optionA h2{
  color:#003896;
}

/* Option B */
.optionB{
  background-color: #FCBD30 !important;
  color: #003896!important
}
.optionB nav{
  background-color: #003896!important;
}
.optionB h2{
  color:#003896;
}
.optionB h1{
  color:#003896;
}

/* Option C */
.optionC{
  background-color: #F5A3FF !important;
  color: #003896!important
}
.optionC nav{
  background-color: white!important;
}
.optionC nav a{
  color: red!important;
}
.optionC .card-footer{
  background-color: royalblue;
}
.optionC .card-body{
  background-color: #87D2FA;
}
.optionC .card-text{
  color:palegreen;
}
.optionC h2{
  color: peru;
}
