<div [ngClass]="GetOption()">


<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-image: url('app/images/promo-students.jpg');">
  <img class="d-block herb" src="app/images/herb.png" alt="">
</header>
  
  <!-- Wariant kolorystyczny -->
  <div class="wariant btn-primary">
    <h6>Wariant:</h6>
    <div class="jus-con">
      <span class="chooseL">A</span><input type="radio" name="radioBtn" class="choose" (click)="ColorOption(1)" checked="checked" /><br>
      <span class="chooseL">B</span><input type="radio" name="radioBtn" class="choose" (click)="ColorOption(2)" /><br>
      <span class="chooseL">C</span><input type="radio" name="radioBtn" class="choose" (click)="ColorOption(3)" />
      </div>
  </div>
  <!-- end of Wariant kolorystyczny -->
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Candidates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Scientific Research</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Media</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar-brand">Start studying!</div>
</nav>
<!-- Content section -->
<section class="py-5">
  <div class="container">
    <h1>Choose Us!</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <!-- Content Row -->
          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h2 class="card-title">Card One</h2>
                  <img class="d-block students" src="app/images/puchar.png" alt="">
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary">More Info</a>
                </div>
              </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h2 class="card-title">Card Two</h2>
                  <img class="d-block students" src="app/images/students.jpg" alt="">
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary">More Info</a>
                </div>
              </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h2 class="card-title">Card Three</h2>
                  <img class="d-block students" src="app/images/dz.jpg" alt="">
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary">More Info</a>
                </div>
              </div>
            </div>
            <!-- /.col-md-4 -->
    
          </div>
          <!-- /.row -->
  </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('app/images/maps.png');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div style="height: 200px;"></div>
</section>

<!-- Content section -->
<section class="py-5">
  <div class="container">
    <h1>Section Heading</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
  </div>
</section>
</div>