body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  
  .bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  
  .herb{
    width: 10%;
    height: 10%;
    padding: 10px 0px;
    margin-left: 50px;
  }
.nav-link{
  margin: 0px 20px ;
}
.navbar-collapse{
  margin-left: 30px;
}

.students{
  width: 100%;
  height: 100%;
}

.wariant{
  position: fixed;
  top:200px;
  z-index: 200;
  width:100px;
  padding:15px;
  border: 2px solid black;
}

.jus-con{
  justify-content: center;
 
}
.choose{
  margin: 0px 10px;
}
.chooseL{
  margin: 0px 11px;
}

.optionB nav{
  background-color: white!important;
}
.optionB nav a{
  color: red!important;
}
.optionB .jtron{
  color: red!important;
  background-color: gray;
}
.optionB{
  background-color: tomato;
}
.optionB .card-footer{
  background-color: royalblue;
}
.optionB .card-body{
  background-color: hotpink;
}
.optionB .card-text{
  color:palegreen;
}
.optionB input{
  background-color: khaki;
}
.optionB h4{
  color: peru;
}