<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Pharmacy Side</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container pharma">

  <!-- Heading Row -->
  <div class="row my-4">
    <div class="col-lg-9">
      <img class="img-fluid rounded" src="phar.jpg">
      <h1>The best pharmacy in the city</h1>
      <p>Donec convallis diam a dui dignissim volutpat. Nulla euismod eros magna, nec fringilla mi sagittis vitae.
        <br>Etiam convallis nisl a lectus luctus suscipit. Proin non egestas turpis. Phasellus nec interdum ex.</p>
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-3">

      <!-- Search Widget -->
      <h5 class="card-header">Search</h5>
      <div class="card-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
          </span>
        </div>
      </div>

      <!-- Categories Widget -->
      <h5 class="card-header">Categories</h5>
      <div class="card-body card-header">
        <div class="row">

          <ul class="list-unstyled mb-0 ">
            <li>
              <a href="#">On prescription</a>
            </li>
            <li>
              <a href="#">Cold</a>
            </li>
            <li>
              <a href="#">Pregnancy and child</a>
            </li>
            <li>
              <a href="#">Slimming</a>
            </li>
            <li>
              <a href="#">Dermocosmetics</a>
            </li>
            <li>
              <a href="#">Vitamins</a>
            </li>
            <li>
              <a href="#">Medical equipment</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->
  <!-- Content Row -->
  <div class="row">
    <div class="col-md-2 mb-4">
      <div class="card h-100">
        <div class="card-body">
          
          <img class="img-fluid rounded" src="vitamins.png">
          <h4 class="card-title">Item One</h4>
          <p class="card-text">Corporis quod, ea minima accusamus.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-2 mb-4">
      <div class="card h-100">
        <div class="card-body">
         
          <img class="img-fluid rounded" src="vit2.jpg">
          <h4 class="card-title">Item Two</h4>
          <p class="card-text">Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-2 mb-4">
      <div class="card h-100">
        <div class="card-body">
          
          <img class="img-fluid rounded" src="vit3.jpg">
          <h4 class="card-title">Item Three</h4>
          <p class="card-text">Rem magni quas ex numquam.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-2 mb-4">
      <div class="card h-100">
        <div class="card-body">
          
          <img class="img-fluid rounded" src="vitamins.png">
          <h4 class="card-title">Item One</h4>
          <p class="card-text">Consectetur adipisicing elit.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-2 mb-4">
      <div class="card h-100">
        <div class="card-body">
          
          <img class="img-fluid rounded" src="vit2.jpg">
          <h4 class="card-title">Item Two</h4>
          <p class="card-text">Quod tenetur ex natus at dolorem enim!</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-2 mb-4">
      <div class="card h-100">
        <div class="card-body">
          
          <img class="img-fluid rounded" src="vit3.jpg">
          <h4 class="card-title">Item Three</h4>
          <p class="card-text">Maxime minus quam molestias.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark pharma">
  <div class="container">

  </div>
  <!-- /.container -->
</footer>