<div id="WholePage">
  <div id="Inner">
    <div id="Container">
      <div id="Head">
        <div id="Head_left">
          <div id="Leaf_top"></div>
          <div id="Leaf_bottom"> <a class="registration" href="#">REGISTRATION</a> <a class="log-in" href="#">LOG IN</a> </div>
        </div>
        <div id="Head_right">
          <div id="Logo">
            <div id="Name"><span class="blue">B</span><span>est</span>&nbsp;<span class="blue">P</span><span>harmacy</span> </div>
            <div id="Informations">Good afternoon | It's Friday | Time: 12:51 </div>
          </div>
          <div id="Top_menu"> <a href="#"><span>KART</span></a> <a href="#"><span>ORDERS</span></a> <a  href="#"><span>CONTACT</span></a> <a  href="#"><span>HELP</span></a> <a  href="#"><span>HOME</span></a> </div>
        </div>
      </div>
      <div id="CentralPart">
        <div id="LeftPart">
          <div id="Menu">
            <div id="Menu_header">
              <div class="menu_header_left"> <span class="menu_text">MENU</span> </div>
              <div class="menu_header_right"> </div>
            </div>
            <div id="Menu_content"> <a class="menu_item" href="#"><span>Lorem ipsum</span></a><br/>
              <a class="menu_item" href="#"><span>Nulla facilisi</span></a><br/>
              <a class="menu_item" href="#"><span>Suspendisse ipsum</span></a><br/>
              <a class="menu_item2" href="#"><span>Aliquam interdum</span></a><br/>
              <a class="menu_item2" href="#"><span>Morbi sit amet augue</span></a><br/>
              <a class="menu_item2" href="#"><span>In hac habitasse platea dictumst</span></a><br/>
              <a class="menu_item" href="#"><span>Donec sed mauris sit amet</span></a><br/>
              <a class="menu_item" href="#"><span>In sollicitudin cursus purus</span></a><br/>
              <a class="menu_item" href="#"><span>Lorem ipsum</span></a><br/>
              <a class="menu_item" href="#"><span>Nulla facilisi</span></a><br/>
              <a class="menu_item" href="#"><span>Suspendisse ipsum</span></a><br/>
              <a class="menu_item" href="#"><span>Aliquam volutpat auctor</span></a><br/>
              <a class="menu_item" href="#"><span>Suspendisse scelerisque</span></a><br/>
            </div>
          </div>
          <div id="Poll">
            <div id="Poll_header">
              <div class="menu_header_left"> <span class="menu_text">POLL</span> </div>
              <div class="menu_header_right"> </div>
            </div>
            <div id="Poll_content"> <span class="poll_question">Donec at justo ac ipsum laoreet dapibus?</span><br/>
              <a class="poll_unswer" href="#"><span>Lorem ipsum</span></a><br/>
              <a class="poll_unswer" href="#"><span>Nulla facilisi</span></a><br/>
              <a class="poll_unswer" href="#"><span>Suspendisse ipsum</span></a><br/>
            </div>
          </div>
          <div id="Banner"> <img src="banner.jpg" alt="" /> </div>
        </div>
        <div id="RightPart">
          <div id="Page">
            <div id="Page_header">
              <h1>Advantages of our shop</h1>
              <table>
                <tr>
                  <td class="page_header_img"><img src="basket.gif" alt="" /></td>
                  <td class="page_header_text"><p>Donec at justo ac ipsum laoreet dapibus. Vivamus lacinia. Suspendisse ipsum. Morbi vitae nulla. In hac habitasse platea dictumst.</p></td>
                  <td class="page_header_img"><img src="idea.gif" alt="" /></td>
                  <td class="page_header_text"><p>Etiam sollicitudin dignissim tellus. Cras ut ligula nec ligula aliquam ultrices. Praesent tempor. Donec arcu. Morbi sit amet augue.</p></td>
                </tr>
                <tr>
                  <td class="page_header_img"><img src="car.gif" alt="" /></td>
                  <td class="page_header_text"><p>Etiam sollicitudin dignissim tellus. Cras ut ligula nec ligula aliquam ultrices. Praesent tempor. Donec arcu. Morbi sit amet augue.</p></td>
                  <td class="page_header_img"><img src="envelope.gif" alt="" /></td>
                  <td class="page_header_text"><p>Donec at justo ac ipsum laoreet dapibus. Vivamus lacinia. Suspendisse ipsum. Morbi vitae nulla. In hac habitasse platea dictumst.</p></td>
                </tr>
              </table>
            </div>
            <div id="Page_top">
              <p> Lorem ipsum dolor sit amet 1-4<br/>
                Cras volutpat ligula sed est. Quisque lacus <a href="#">libero,</a> <a href="#">vestibulum ut,</a> <a href="#">venenatis ac,</a> <a href="#">interdum quis, mi.</a><br/>
                Donec at justo ac ipsum laoreet <a href="#">dapibus</a><br/>
                <a href="#">1</a> 2 3 .... 11 12 13<br/>
              </p>
            </div>
            <div id="Page_center">
              <table>
                <tr>
                  <td class="page_center_button"><a class="page_center_buy" href="#"><span>buy</span></a><a class="page_center_info" href="#"><span>more-info</span></a> </td>
                  <td class="page_center_content"><div class="page_center_text"> <span class="blue2">Lorem ipsum dolor</span><br/>
                      <span class="gray">Donec at:  justo ac</span><br/>
                      <span class="gray">Cras ut: ligula nec</span><br/>
                      <br/>
                      <span class="green">Price: $156</span><br/>
                    </div></td>
                  <td class="page_center_img"><img src="photo4.gif" alt="" /> </td>
                  <td class="page_center_button"><a class="page_center_buy" href="#"><span>buy</span></a><a class="page_center_info" href="#"><span>more-info</span></a> </td>
                  <td class="page_center_content"><div class="page_center_text"> <span class="blue2">Lorem ipsum dolor</span><br/>
                      <span class="gray">Donec at:  justo ac</span><br/>
                      <span class="gray">Cras ut: ligula nec</span><br/>
                      <br/>
                      <span class="green">Price: $156</span><br/>
                    </div></td>
                  <td class="page_center_img2" ><img src="photo4.gif" alt="" /> </td>
                </tr>
                <tr>
                  <td class="page_center_button"><a class="page_center_buy" href="#"><span>buy</span></a><a class="page_center_info" href="#"><span>more-info</span></a> </td>
                  <td class="page_center_content"><div class="page_center_text"> <span class="blue2">Lorem ipsum dolor</span><br/>
                      <span class="gray">Donec at:  justo ac</span><br/>
                      <span class="gray">Cras ut: ligula nec</span><br/>
                      <br/>
                      <span class="green">Price: $156</span><br/>
                    </div></td>
                  <td class="page_center_img" ><img src="photo4.gif" alt="" /> </td>
                  <td class="page_center_button"><a class="page_center_buy" href="#"><span>buy</span></a><a class="page_center_info" href="#"><span>more-info</span></a> </td>
                  <td class="page_center_content"><div class="page_center_text"> <span class="blue2">Lorem ipsum dolor</span><br/>
                      <span class="gray">Donec at:  justo ac</span><br/>
                      <span class="gray">Cras ut: ligula nec</span><br/>
                      <br/>
                      <span class="green">Price: $156</span><br/>
                    </div></td>
                  <td class="page_center_img2" ><img src="photo4.gif" alt="" /> </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="cleaner"></div>
      </div>
      <!-- <div id="Bottom">
        <p class="down">Copyright &copy; 2007, <a href="http://www.sunlight.cz">Design by: Sunlight webdesign</a> </p>
        <div class="down2">
          <p> <a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-xhtml11" alt="Valid XHTML 1.1" height="31" width="88" /></a> </p>
        </div>
      </div> -->
    </div>
  </div>
</div>
