<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <div class="navbar-brand">Paulina</div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="home-section">
  <h3 class="text-secondary">Praca magisterska</h3>
  <h2 class="text-first mb-5">Strony do oceny</h2>
  <div class="row">
    <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
      <span class="service-icon rounded-circle mx-auto mb-3">
        <i class="far fa-credit-card"></i>
      </span>
      <h4>
        <strong>
          <a href="bank">Bank</a>
        </strong>
      </h4>
    </div>
    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
      <span class="service-icon rounded-circle mx-auto mb-3">
        <i class="fas fa-university"></i>
      </span>
      <h4>
        <strong>
          <a href="university">Uczelnia</a>
        </strong>
      </h4>
    </div>
    <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
      <span class="service-icon rounded-circle mx-auto mb-3">
        <i class="fas fa-book"></i>
      </span>
      <h4>
        <strong>
          <a href="library">Biblioteka</a>
        </strong>
      </h4>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="service-icon rounded-circle mx-auto mb-3">
        <i class="far fa-lemon"></i>
      </span>
      <h4>
        <strong>
          <a href="health-food-store">Sklep ze zdrową żywnością</a>
        </strong>
      </h4>
    </div>
    <div class="col-lg-2 col-md-6">
      <span class="service-icon rounded-circle mx-auto mb-3">
        <i class="fas fa-pills"></i>
      </span>
      <h4>
        <strong>
          <a href="pharmacy">Apteka</a>
        </strong>
      </h4>
    </div>
  </div>
</section>
<!-- Footer -->
<footer>
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <p class="copyright text-muted">Copyright &copy; PH 2018</p>
          </div>
      </div>
  </div>
</footer>